{{>Header}}
<section>
<div class="content">
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <p>Thanks for placing the order .  </p>
      <p>you will receive a confirmation Email soon </p>
      <button class="go-home"style="outline:none;" onclick="goHome()">
      go home
      </button>
    </div>
    {{!-- <div class="footer-like">
      <p>Email not received?
       <a href="#">Click here to send again</a>
      </p>
    </div> --}}
</div>
</div>



{{!-- <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet"> --}}
</section>