@import url("https://fonts.googleapis.com/css2?family=Fjalla+One:wght@400&display=swap");
/* *::-webkit-scrollbar {
  display: none;
} */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #fff;
  color: #181a29;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid lightgray;
  top: 0;
  position: fixed;
}
.header > a:link {
  text-decoration: none;
}
.header-left{
  /* font-family:Great Vibes; */
  font-family:Fjalla One;
  /* font-weight:normal;   */
  font-size: 45px;
}
.header-right {
  display: flex;
  justify-content: space-around;
  flex: 0.3;
  margin-right: 20px;
}
.header-right > a:link {
  text-decoration: none;
}
.header-right > a > h4 {
  font-size: medium;
  color: #000;
  font-weight: 500;
}
.header-right > a > h4:hover {
  color: #57C67F;
}
.header-right > a > img {
  height: 30px;
  object-fit: contain;
}
.header-left {
  flex: 0.7;
  justify-content: flex-start;
  margin-left: 20px;
  font-weight: normal;
  color: #181a29;
}
